block content
  h2 #{title}
  form(action='/signOut', method='post')
    input(type='submit', value='Sign Out')
    - if(user)
      p
        | Welcome #{user.name}
  a.button(href="spaces/new") List a space
