block content
  h2 #{title}
  form(action='/spaces/new', method='post')
    label(for='name') Name:
    input(type='text', name='name', placeholder='Name')
    label(for='description') Description:
    textarea( name='description', placeholder='Description')
    label(for='price') Price Per Night:
    input(type='number', step='0.01', name='price', placeholder='Price Per Night')
    label(for='available-from') Available from (DD/MM/YYYY)
    input(type='date', name='available-from')
    label(for='available-to') Available to (DD/MM/YYYY)
    input(type='date', name='available-to')

    input(type='submit', value='List My Space')
